Lab3/products.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="products">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="product">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="title" type="xsd:string" />
              <xsd:element name="full_name">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="manufacturer" type="xsd:string" />
                    <xsd:element name="model" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="price" type="xsd:decimal" />
              <xsd:element name="amount" type="xsd:int" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>